.right-0{
  right: 0px;
}
.right-25{
  right: 25px;
}
.right-50{
  right: 50px;
}
.right-75{
  right: 75px;
}
.right-100{
  right: 100px;
}
.left-0{
  right: 0px;
}
.left-25{
  right: 25px;
}
.left-50{
  right: 50px;
}
.left-75{
  right: 75px;
}
.left-100{
  right: 100px;
}
